@import "reset.css";    /* html애서 css를 로드 */
body{
    background-color: #f2f2f2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.canvas{
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 15px;    /* 모서리 둥굴게 */
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08); /* 그림자 2개 */
}
.controls{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controls .controls__btns{  /* controls 아래 controls_btns 의 속성 */
    margin-bottom: 30px;
}
.controls__btns button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px; /* 세로 가로 */
    width: 80px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08); /* 그림자 */
    border:2px solid rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-weight:800;
    font-size:12px;
}
.controls__btns button:active{
    transform:scale(0.98);  /* 누른 경우 버튼이 약간 작아졌다 커짐 */
}

.controls .controls__colors{
    display: flex;
}

.controls__colors .controls__color{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0,0,0,0.08); /* 그림자 */
}

.controls .controls__range{
    margin-bottom:20px;
}